@import "variables";

// Import Bulma and Buefy styles
@import "~bulma";
@import "~buefy/src/scss/buefy";

body {
  height: 100vh;
}

#app {
  display: flex;
  flex-direction: column;
  height: 100%
}
.main {
  flex: 1 0 auto;
}
.foot {
  flex-shrink: 0;
}

.inline-caps {
  text-transform: uppercase;
  li a {
    letter-spacing: 2.2px;
    font-size: 0.75rem;
  }
}

#flash-message {
  animation: flash-message 4s forwards;
}

@keyframes flash-message {
  0%   {opacity: 1;}
  100% {opacity: 0; display: none;}
}
