// Import Bulma's core
@import '~bulma/sass/utilities/_all';

// Set your colors
$ecco: #284fa3; // ECCO
$ecco-invert: findColorInvert($ecco);

$gasps: #980e0e; // GA
$gasps-invert: findColorInvert($gasps);

// Videa Brand Colors
$fun-blue: #1d4f90;
$st-tropaz: #276092;
$boston-blue: #4296b4;
$fountain-blue: #64b1bc;
$monte-carlo: #83c8bc;
$porcelain: #e0e4e5;
$trout: #52545d;
$cardinal: #c5203e;
$plum: #692565;
$ecstasy: #f4831f;
$beeswax: #fdecbb;

$primary: $gasps; // GA
$primary-invert: findColorInvert($primary);

$success: #04864b;
$success-invert: findColorInvert($success);

$twitter: #4099ff;
$twitter-invert: findColorInvert($twitter);

// Setup $colors to use as bulma classes (e.g. 'is-twitter')
$colors: (
  'white': ($white, $black),
  'black': ($black, $white),
  'light': ($light, $light-invert),
  'dark': ($dark, $dark-invert),
  'primary': ($primary, $primary-invert),
  'info': ($info, $info-invert),
  'success': ($success, $success-invert),
  'warning': ($warning, $warning-invert),
  'danger': ($danger, $danger-invert),
  'ecco': ($ecco, $ecco-invert),
  'gasps': ($gasps, $gasps-invert),
  'twitter': ($twitter, $twitter-invert)
);

// Links
$link: $primary;
$link-invert: $primary-invert;
$link-focus-border: $primary;

// Body
$body-size: 14px;
$body-background: $porcelain;
