:root {
  --color-primary: #98002f;
  --color-primary-50: #faf2f5;
  --color-primary-100: #f5e6ea;
  --color-primary-200: #e5bfcb;
  --color-primary-300: #d699ac;
  --color-primary-400: #b74d6d;
  --color-primary-500: #98002f;
  --color-primary-600: #89002a;
  --color-primary-700: #720023;
  --color-primary-800: #5b001c;
  --color-primary-900: #4a0017;

  --color-secondary: #16abe4;
  --color-secondary-50: #f3fbfe;
  --color-secondary-100: #e8f7fc;
  --color-secondary-200: #c5eaf8;
  --color-secondary-300: #a2ddf4;
  --color-secondary-400: #5cc4ec;
  --color-secondary-500: #16abe4;
  --color-secondary-600: #149acd;
  --color-secondary-700: #1180ab;
  --color-secondary-800: #0d6789;
  --color-secondary-900: #0b5470;

  --color-tertiary: #0e50a9;
  --color-tertiary-50: #f3f6fb;
  --color-tertiary-100: #e7eef6;
  --color-tertiary-200: #c3d3ea;
  --color-tertiary-300: #9fb9dd;
  --color-tertiary-400: #5685c3;
  --color-tertiary-500: #0e50a9;
  --color-tertiary-600: #0d4898;
  --color-tertiary-700: #0b3c7f;
  --color-tertiary-800: #083065;
  --color-tertiary-900: #072753;

  --color: #243746;
  --bg: #f3f5f4;
  --bg-secondary: #fff;
  --border-color: #ddd;

  --font-serif: Georgia, serif;
  --font-sans: Helvetica, sans-serif;
  --metric-wrapper: 40rem;
  --metric-gutter: 1.25rem;
  --transition-snappy: 200ms linear;
  --transition-silky: 300ms cubic-bezier(1, 0, 0.55, 0.85);

  --color-black: #000;
  --color-white: #fff;
  --color-pink: #faa7ed;
  --color-navy: #0c1f72;
  --color-navy-opaque: rgba(6, 0, 79, 0.77);
  --color-light: #ffffff;
  --color-dark: #252525;
  --color-flush-valencia: #d4504c;
  --color-flush-mahogany: #c23934;
  --color-koromiko: #ffb75d;
  --color-sunshade: #ff9e2c;
  --color-emerald: #4bca81;
  --color-salem: #04844b;
  --color-kaitoke-green: #004a29;
  --color-gorse: #fff03f;
  --color-lemon-chiffon: #faffbd;

  --color-firebrick: hsla(359, 70%, 43%, 1);
  --color-lime-green: hsla(126, 69%, 43%, 1);
  --color-casablanca: hsla(35, 85%, 62%, 1);
  --color-viking: hsla(194, 67%, 62%, 1);
  --color-light-gray: hsla(109, 0%, 67%, 1);
  --color-raven: hsla(208, 7%, 46%, 1);

  --color-temparture-01: #3eff00;
  --color-temparture-02: #b0ff00;
  --color-temparture-03: #fffa00;
  --color-temparture-04: #ffdc00;
  --color-temparture-05: #ffbe00;
  --color-temparture-06: #ffa000;
  --color-temparture-07: #ff8200;
  --color-temparture-08: #ff6400;
  --color-temparture-09: #ff4600;
  --color-temparture-10: #ff2800;

  --color-danger: var(--color-firebrick);
  --color-warning: var(--color-casablanca);
  --color-success: var(--color-lime-green);
  --color-info: var(--color-viking);

  /* Oruga */

  --oruga-variant-primary: var(--color-primary);
  --oruga-color-primary-invert: var(--color-white);
  --oruga-variant-secondary: var(--color-secondary);
  --oruga-variant-danger: var(--color-danger);

  --oruga-button-background-color: var(--oruga-variant-primary);

  /* --oruga-base-border-radius: theme('borderRadius.lg');
  --oruga-color-primary: theme('colors.primary.500');

  --oruga-color-secondary: var(--color-raven);
  --oruga-color-danger: var(--color-danger);
  --oruga-color-warning: var(--color-warning);
  --oruga-color-success: var(--color-success);
  --oruga-color-info: var(--color-info);

  --oruga-checkbox-active-background-color: theme('colors.primary.500');
  --oruga-dropdown-item-background-active: theme('colors.primary.500');
  --oruga-pagination-link-current-background-color: theme('colors.primary.500');
  --oruga-pagination-link-current-border-color: theme('colors.primary.500');
  --oruga-radio-active-background-color: theme('colors.primary.500');
  --oruga-sidebar-content-background-color: theme('colors.gray.50');
  --oruga-sidebar-width: 450px;
  --oruga-steps-active-color: theme('colors.primary.500');
  --oruga-steps-previous-color: theme('colors.primary.500');
  --oruga-switch-active-background-color: theme('colors.primary.500');
  --oruga-table-detail-chevron-color: theme('colors.primary.500');
  --oruga-table-focus-border-color: theme('colors.primary.500');
  --oruga-table-row-active-background-color: theme('colors.primary.500');
  --oruga-tabs-link-active-border-bottom-color: theme('colors.primary.500');
  --oruga-tabs-link-active-color: theme('colors.primary.500');
  --oruga-tabs-toggle-link-active-background-color: theme('colors.primary.500');
  --oruga-tabs-toggle-link-active-border-color: theme('colors.primary.500');
  --oruga-tabs-toggle-link-active-color: theme('colors.white');
  --oruga-tooltip-background-color: theme('colors.primary.500'); */
}

.dark {
  --color: #ebf4f1;
  --color-primary: #41b38a;
  --color-secondary: #fdf9f3;
  --bg: #091a28;
  --bg-secondary: #071521;
  --border-color: #0d2538;
}

.sepia {
  --color: #433422;
  --color-secondary: #504231;
  --bg: #f1e7d0;
  --bg-secondary: #eae0c9;
  --border-color: #ded0bf;
}

/* inputClasses
itemClass
itemHoveredClass
itemDisabledClass
openedTopClass
expandedClass
menuClass
rootClass
appendToBody
iconRightClickable
iconRight
debounceTyping
clearable
keepOpen
openOnFocus
clearOnSelect
keepFirst
rounded */

/*
$base-border-radius	4px
$base-font-size	1rem
$base-rounded-border-radius	9999px
$base-line-height	1.5
$base-disabled-opacity	0.5
$speed	300ms
$speed-slow	150ms
$speed-slower	250ms
$easing	ease-out
$control-border-width	1px
$control-height	2.25em
$white	#ffffff
$black	#000000
$grey	#7a7a7a
$grey-light	#b5b5b5
$grey-lighter	#dbdbdb
$primary	#445e00
$primary-invert
$danger	#b60000
$danger-invert
$warning	#f4c300
$warning-invert
$success	#006724
$success-invert
$info	#005C98
$info-invert
$whitelist	()
$sass-vars:	true
$css-vars:	true
$variable-prefix:	'--oruga-'
$sizes:	(
"small": .75rem,
"medium": 1.25rem,
"large": 1.5rem
)
$colors:	(
"primary": ($primary, $primary-invert),
"danger": ($danger, $danger-invert),
"warning": ($warning, $warning-invert),
"success": ($success, $success-invert),
"info": ($info, $info-invert)
)
*/
